@charset "UTF-8";

html {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    font-family: "zen-maru-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    /*font-family: "zen-maru-gothic", sans-serif;
    font-weight: 700;
    font-style: normal;*/
    color: #340303;
    font-size: 100%;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
    padding: 70px 0 100px 0;
}


/*ヘッダーtop--------------------------------------------------------*/
.main-logo {
    width: 125px;
    height: 55px;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list li {
    list-style: none;
    margin-left: 30px;
    margin-top: 18px;
    
}

.list {
    display: flex;
    margin-right: 75px;

}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #f69454;
    height: 55px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}


/*HOME画面---------------------------------------------------------*/
.header-top {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}
.top-image {
    width: 885px;
    height: 110px;
    margin-top: 60px;
}


#video-area {
    position: relative;
    margin: 0 auto;
    width: 1068px; /*変える予定!!!*/
    height: 600px; /*変える予定!!!*/
}

#video {
    position: absolute;
    width: 100%;
    height: 600px; /*変える予定!!!*/
    top: 0;
    left: 0;
    box-shadow: 0 0 6px #6b6b6b;
}




#home {
    background: url(../image/back.pink.jpg) no-repeat top left;
    text-align: center;
}

.home-comment p{
    padding: 70px 300px 56px 300px;
    font-weight: bold;
    font-size: 30px;
    text-shadow:
    1px 1px 1px rgb(199, 86, 55), /*文字の右下に影を追加*/
    1px -1px 1px rgb(199, 86, 55),/*文字の右上に影を追加*/
    -1px 1px 1px rgb(199, 86, 55),/*文字の左下に影を追加*/
    -1px -1px 1px rgb(199, 86, 55);/*文字の左上に影を追加*/;
    color: rgb(251, 197, 116);
}


/*タイトル----------------------------------------------------------*/
.title {
    background-color: #fcc875;
    box-shadow: 0px 0px 0px 5px #fcc875;
    border: dashed 2px rgb(211, 77, 29);
    padding: 1px 25px;
    border-radius: 20px;
    width: 40%;
    margin: 0px auto;
    margin-bottom: 50px;
}

.title h2 {
    text-align: center;
    font-size: 45px;
    color: white;
}


/*ボタン----------------------------------------------------------*/
.btn {
    text-align: center;
    margin: 33px 0;
    text-shadow:
    1px 1px 2px #ffffff, /*文字の右下に影を追加*/
    1px -1px 2px #ffffff,/*文字の右上に影を追加*/
    -1px 1px 2px #ffffff,/*文字の左下に影を追加*/
    -1px -1px 2px #ffffff;/*文字の左上に影を追加*/
}

.btn-form {
    border: 6px groove #e38b75;
    background-color: #e38b75;
    color: #ad3d00;
    border-radius: 7px;
    font-size: 30px;
    padding: 9px 19px;
}

.btn-form:hover {
    background-color: #f3aa97;
    border: 6px groove #f3aa97;
}




/*サービス内容-----------------------------------------------------*/
#service {
    background-image: url(../image/back.yellow.jpg);

}

.box {
    width: 470px;
    height: 470px;
    position: relative;
    margin: 0 50px;
}

.image-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.box img {
    position: absolute; 
}


.image02 {                        /*看護師*/
    bottom: 0;
    right: 0;
    width: 380px;
    height: 407px;
    border-radius: 3%;
    box-shadow: -35px -35px 3px #e0a290;
}

.nurse p {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    text-shadow:
        2px 2px 2px #f25757, /*文字の右下に影を追加*/
        2px -2px 2px #f25757,/*文字の右上に影を追加*/
        -2px 2px 2px #f25757,/*文字の左下に影を追加*/
        -2px -2px 2px #f25757;/*文字の左上に影を追加*/
    color: white; 
}


.image04 {                       /*リハビリ*/
    top: 0;
    left: 0;
    width: 392px;
    height: 407px;
    border-radius: 3%;
    box-shadow: 35px 35px 3px #b3de81;
}

.riha p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 45px;
    text-shadow:
        2px 2px 2px #68a225, /*文字の右下に影を追加*/
        2px -2px 2px #68a225,/*文字の右上に影を追加*/
        -2px 2px 2px #68a225,/*文字の左下に影を追加*/
        -2px -2px 2px #68a225;/*文字の左上に影を追加*/
    color: white; 
}



/*料金内容------------------------------------------------------*/
#price {
    background-image: url(../image/back.deepgrn.jpg);
}

.price-bg {
    padding: 20px;
    background-color: #fcfdfe;
    border-radius: 5%;
    border: double 7px #efb73e;
}

summary {
    display: flex;
    width: 570px;
    margin: 7px auto;
    align-items: center;
    padding: 12px 30px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ffa178;
    border-radius: 5%;
    text-shadow:
    1px 1px 2px #ffffff, /*文字の右下に影を追加*/
    1px -1px 2px #ffffff,/*文字の右上に影を追加*/
    -1px 1px 2px #ffffff,/*文字の左下に影を追加*/
    -1px -1px 2px #ffffff;/*文字の左上に影を追加*/
}

summary:hover,
details[open] summary {
    background-color: #ffbca0;
}

summary::after {
    content: '+';
    color: #cc7d7d;
    font-size: 20px;
    margin-left: 200px;
}

details[open] summary::after {
    transform: rotate(45deg);
}


table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th,td{
    border:solid 2px rgb(188, 170, 72)
}

table th {
    padding: 7px 15px;
    background-color: rgb(242, 207, 160);
}

table td {
    padding:7px 15px;
}

table tr td {
    background-color: antiquewhite;
}


/*あかりばについて---------------------------------------------------*/
#overview {
    background-image: url(../image/back.pink.jpg);
}
.count {
    display: flex;
    justify-content:space-between;
    padding-bottom: 50px;
}

.box02 {                  /*利用者数*/
    position: relative;
    width: 300px;
    height: 300px;
}
.box02 img {
    position: absolute;
    width: 280px;
    height: 280px;
}
.box02 p {
    font-size: 2rem;
    position: absolute;
    top: 75px;
    left: 75px;
}
.count-size {
    font-size: 4rem;
}


.box03 {                   /*スタッフ数*/
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 120px;
}
.box03 img{
    position: absolute;
    width: 230px;
    height: 230px;
}
.box03 p {
    font-size: 30px;
    position: absolute;
    top: 55px;
    left: 40px;
}


.image07 {                  /*外観の写真*/
    width: 650px;
    height: 460px;
    border-radius: 3%;
    box-shadow: 20px -20px 3px #77a2db;
    margin-top: 30px;
}


/*あいさつ----------------------------------------------------------*/

.greet {
    display: flex;
    justify-content: space-between;
    padding: 50px 15px 0 15px;
}

.box05 {                          /*福西さん*/
    width: 480px;
    height: 480px;
    position: relative;
    background-color: rgb(235, 200, 200);
    border: double 7px #cc7d7d;
    border-radius: 10px;
}
.chiefsan {
    position: absolute;
    width: 290px;
    height: 240px;
    right: 0;
    bottom: 0px;
}
.box05 h2 {
    position: absolute;
    z-index: 3;
    top: 25px;
    left: 30px;
    font-size: 30px;
}
.box05 p {
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 30px;
    font-size: 20px;
}


.box06 {                         /*牧尾さん*/
    width: 480px;
    height: 480px;
    position: relative;
    background-color: #dff1e6;
    border: double 7px #7dcca2;
    border-radius: 10px;
}
.subchief {
    position: absolute;
    width: 210px;
    height: 240px;
    right: 0;
    bottom: 0px;
}
.box06 h2 {
    position: absolute;
    z-index: 3;
    top: 25px;
    left: 30px;
    font-size: 30px;
}
.box06 p {
    position: absolute;
    z-index: 3;
    top: 80px;
    left: 30px;
    font-size: 20px;
}



/*取り組み・強み---------------------------------------------------*/
#strength {
    background-image: url(../image/back.yellow.jpg);
    text-align: center;
}

.strength-top {
    width: 575px;
    height: 200px;
    margin-bottom: 50px;
}

.strength-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.strength-item {
    background-color: #8ad6d5;
    text-align: center;
    padding: 30px 10px 0 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    max-width: 1080px;
    width: 48%;  
}

.strength-container img {
    height: 212px;
    width: 280px;
    object-fit: cover;
    border-radius: 5px;
    border: 5px solid #FFF;
    box-shadow: 0 0 5px #999;
}

.strength-container h3 {
    font-size: 25px;
    padding-top: 10px;
    text-shadow:
    1px 1px 2px #ffffff, /*文字の右下に影を追加*/
    1px -1px 2px #ffffff,/*文字の右上に影を追加*/
    -1px 1px 2px #ffffff,/*文字の左下に影を追加*/
    -1px -1px 2px #ffffff;/*文字の左上に影を追加*/
}

.strength-container p {
    font-size: 18px;
    padding: 0 10px 25px 10px;
}






/*採用情報----------------------------------------------------*/
#recruite {
    background-image: url(../image/back.deepgrn.jpg);
}

.recruite-comment p {
    font-size: 1.5em;
    text-align: center;
}

.member img {
    height: 200px;
    padding-bottom: 30px;
}

.member {
    overflow: scroll;
}



/*アクセス--------------------------------------------------------*/
#access{
   text-align: center;
   background-image: url(../image/back.pink.jpg);
}

.access-contents {
    display: flex;
    justify-content: space-between;
}


.access01 {
    border: double 7px #efb73e;
    background-color: #fbf4e4;
    border-radius: 10px;
    height: 400px;
    width: 380px;
}

.access01 h3 {
    font-size: 25px;
    padding: 20px 0 20px 0;
}

.access01 p {
    font-size: 20px;
    line-height: 35px;
}

.hiroshi {
    width: 230px;
    height: 140px;
}

iframe {
    width: 600px;
    height: 400px;
}


/*広報活動------------------------------------------------------------*/
#sns {
    background-image: url(../image/back.purple.jpg);
}

.wrap {
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 1080px;
    white-space: nowrap;
    overflow-x: scroll;
}

.item {
    scroll-snap-align: center;
    display: inline-block;
    margin: 0 20px;
    width: 25%;
    white-space: normal;
    background-color: #f9efcc;
    overflow: hidden;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}


.item p {
    margin: 0;
    padding: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/*フッター-------------------------------------------------------------*/
.footer {
    display: flex;
    background-color: #f69454;
    padding: 40px 200px;
}

li {
    margin: 5px 0;
    list-style: none;
}

ul {
    margin: 0 100px;
}



}

